.cameraDiv {
    text-align: center;
    width: 100% !important;

    #snap {
        display: block;
        margin: 1rem auto;
    }

    #canvas {
        display: none;
    }

    #imageArea {

        img {
            max-width: 100%;
        }
    }
}